*/3 * * * * curl https://skylar-may-app-gho2d.ondigitalocean.app/api/send-follow-ups -H "x-api-key: Ghbdtn6060" -H "Content-Type: application/json" >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
